<div id="invoice-wrapper">
  <div id="invoice-section">
    <h2 class="title">Quản lý hoá đơn</h2>
    <div class="invoice-grid" id="invoiceGrid"></div>
  </div>

  <dialog id="invoice-details-dialog">
    <h3>Chi tiết hoá đơn</h3>
    <div id="invoice-details-content"></div>
    <button id="btnCloseInvoiceDetails" class="btn-delete">Đóng</button>
  </dialog>

  <link rel="stylesheet" href="../assets/css/invoices.css">
  <script type="module" src="../controller/InvoiceController.js"></script>
</div>
